
body {
  background-color:rgb(221, 221, 221);
  margin: 0;
}
#myHeader {
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3em;
}
#tide {
  text-align: center;
  line-height: 200%;
}
p {
  font-family: 'Quicksand', sans-serif;
}
#container {
  background-color: rgb(173, 208, 238);
  padding: 1em 0 0 0;
}
#widget {
  position: relative;
  display: flex;
  justify-content: center;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}
