
body {
  background-color:rgb(221, 221, 221);
  margin-bottom: 100px;
}
#myHeader {
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3em;
}
#tide {
  text-align: center;
  line-height: 200%;
}
p {
  font-family: 'Quicksand', sans-serif;
}
#container {
  background-color: rgb(173, 208, 238);
  padding: 1em 0 0 0;
}
#widget {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

/* Footer */
.footer{

  background-color: rgb(173, 208, 238);
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  position: fixed;
  bottom: 0;
  font-weight: bold;
  height: 100px;
}

.footer ul{
  list-style-type: none;
  padding: 0 15px 0 15px;
}

.footer h3{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5em;
  margin: 0;
  padding: 0 15px 0 15px;
}

.footer #left {
    float: left;
}

.footer #right {
  float: right;
}