<div class = "footer">
    <div id = "left">
        <h3>References</h3>
        <ul>
            <li><a href="https://developer.niwa.co.nz/">developer.niwa.co.nz</a></li>
            <li><a href="www.metservice.com">www.metservice.com</a></li>
            <li><a href="https://api.openweathermap.org">api.openweathermap.org</a></li>
        </ul>
    </div>
    <div id = "right">
        <h3>Contact Us</h3>
        <ul><li><a href = "mailto: schmackos.bit@gmail.com">schmackos.bit@gmail.com</a></li></ul>
    </div>
</div>